/*header stylins*/
.siteLogoText{
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  text-align: left;
  position: absolute;
  padding-left: 55px;
  font-size: 11px;
}

header h1{
  font: 400 35px/1 'Pacifico', Helvetica, sans-serif;
  font-style: italic;
}

#topOfPage{
  width: 901px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}


#socialMediaBar .sMButton{
  display: inline-block;
  align-items: right;
  text-align: right;
}

.topDivider {
  margin-top: 25px;
  margin-bottom: 100px;
  border: 5px dashed darkgrey;
  width: 901px;
}

/*Body stylins*/
body{
  background-color: white;
}

/*main stylins*/
main{
  width: 901px;
  margin: auto;
}

main h1{
  font-size: 80px;
  font-weight: bold;
  text-align: left;
  color: black;
  background-color: #fff;
}

main h2{
  font-size:42px;
  color: black;
  text-align: left;
  font-family: Impact, Charcoal, sans-serif;
}

main h3{
  font-size:23px;
  padding-bottom: 20px;
  font-weight: bold;
  text-align: left;
  color: rgb(108, 110, 59);
}

#textUnderTitle{
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  font-size:13px;
}

.titleDate{
  color: rgb(167, 167, 167);

}

#printButton .printElement{ 
  display: inline-block;
  align-items: right;
  text-align: right;
  padding-bottom: 50px;
  color: rgb(167, 167, 167);
}

#mainText{
  padding-top: 30px;
  padding-bottom: 10px;
  text-indent: 30px;
  text-align: left;
  color:rgb(85, 85, 85);
  font-size: 19.5px;
  line-height: 150%;
  font-family: 'Times New Roman', Times, serif, Helvetica, serif;
}

/*the recipe card stylins*/
#recipeList{
  position: absolute;
  display: flex;
}

.listBG{
  position: absolute;
}
.listL{
  display: inline-block;
  position: absolute;
  width: 250px;
  margin-top: 35px;
  margin-left: 60px;
  line-height: 27px;
  font-size: 20px;
}

.listR{
  display: inline-block;
  position: absolute;
  width: 300px;
  margin-top: 35px;
  margin-left: 450px;
  line-height: 27px;
  font-size: 20px;
}

.listItem{
  display: inline-flex;
  font-family: Comic Sans MS, cursive, sans-serif;
  color: rgb(121, 121, 85);
}

.checkbox{
  vertical-align: middle; 
  position: relative; 
  top: 4px;
}

.botDivider {
  margin-top: 350px;
  margin-bottom: 30px;
  border: 5px dashed darkgrey;
  width: 901px;
}

/*author block stylins*/
#authorBlock{
  display: flex;
  justify-content: space-between;
}

.authorsText{
  display: inline-block;
  text-align: left;
  position: absolute; 
  padding-left: 90px;
  font-size: 19.5px;
  color: rgb(112, 112, 98);
  width: 27%;
}

.shareButton{
  display: inline-block;
  background-color:rgb(200, 102, 91);
  color: white;
  font-size: 18px;
  width: 21%;
  height: 55px;
  border: none;
}

/*that logo and lines on the bottom stylins*/
#botLogoArea{
  padding-top: 85px;
  padding-bottom: 70px;
  width: 901px;  
}

.botLogoPic{
  z-index: 2;
  margin-left: 435px;
  position: absolute;
  align-items: center;
  text-align: center;
}
.logoLine{
  border: 1px solid rgb(233, 233, 233);
  margin-top: 15px;
  width: 901px;
  position: absolute;
  z-index: -1;
}



footer{
  text-align: center;
  color: rgb(179, 179, 179);
}